# PostgreSQL
POSTGRES_USER=agritech
POSTGRES_PASSWORD=agritech_secret
POSTGRES_DB=agritech

# Airflow
AIRFLOW_UID=1000
AIRFLOW__CORE__FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLt0nIe3aY=
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow_secret@postgres-airflow:5432/airflow
AIRFLOW__WEBSERVER__SECRET_KEY=your_webserver_secret_key

# MLflow
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_BACKEND_STORE_URI=postgresql+psycopg2://mlflow:mlflow_secret@postgres-mlflow:5432/mlflow
MLFLOW_ARTIFACT_ROOT=/mlflow/artifacts

# Spark
SPARK_MASTER_URL=spark://spark-master:7077

# Monitoring
GRAFANA_PASSWORD=agritech_grafana
